.item{
    width: 500px;
    color: lightslategray;
    font-size: 20px;
    margin: 0 auto;

}
.itemName{
    font-weight: bold;
    padding: 15px;

}
.line{
    border: 1px solid pink;
}
.deletebutton{
    float: right;
    padding: 5px 16px ;
    border: none;
    background-color: lightgreen;
    color: white;
    margin-top: -5px;
    cursor: pointer;
}